/* ========== */
/* = easyUtil Css by qy 2018.1.4 = */
/* = unify and easy-using for css  = */
/* = continue updating  = */
/* = CopyRight by qy  = */
/* ========== */
/* ================ remove defaultCSS ======================== */
*:focus {
    outline: none;
}
a:hover,a:focus,a:active,a:visited,a:link{
    text-decoration: none;
}

/* ================================================================= */
/* = base CSS = */
html,body{
	font-size: 1vw;
}
* {
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    font-family: tahoma !important;
}
table thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
img{
	display: inline-block;
}
ul li{
    list-style: none; 
    cursor : pointer;
}
button{
    background:none;
    border: none;
    cursor: pointer;
}
input{
	background: none;
	border: none;
	height: 100%;
	width: 85%;
}
input[type=color]{
    width: 25px;
    height: 15px;
    border: 0;
    padding: 0;
    background-color: rgba(255,255,255,0);
    float: right;
}
h3{
	font-size: 1.09vw;
	margin: 0.9em 0px 0.8em 2em
}
input,img,textarea{
	box-sizing: border-box;
}
/*input range*/  
input[type=range] {  
  -webkit-appearance: none;/
  width: 100%;  
  background: -webkit-linear-gradient(#61bd12, #61bd12) no-repeat, #ddd;
  background-size: 100% 100%;
  height: 3px; 
}  
input[type=range]::-webkit-slider-thumb {  
  -webkit-appearance: none;  
  height: 26px;
  width: 26px; 
  background: #05E4ED;
  border-radius: 50%;  
  border: solid 1px #05E4ED; 
} 
a{
    cursor: pointer !important;
    color:#ffffff !important;
    display: inline-block;
}
/*for webkit Chrome scroll style*/
::-webkit-scrollbar{
	width: 2px;
	height: 2px;
}
::-webkit-scrollbar-thumb{
	background-color: #016380;
	border-radius: 2px;
}
::-webkit-scrollbar-track{
	background-color: #003d67;
	border-radius: 2px;
}
/* =================================================== */
/* ======================= fixed body and perfect fits ====================== */
.easyUtil-fixedBody{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	margin: auto;
}
/* ====================================================== */
/* ================= flex Box ======================== */
.easyUtil-flexContainerRow{
	display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.easyUtil-flexContainerColumn{
	display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
}

/* = hover menu display class = */
.easyUtil-mainMenu{
	border-bottom: 5px solid transparent;
}
.easyUtil-disvisiable{
	position: absolute;
	visibility: hidden;
}
.easyUtil-mainMenu:hover .easyUtil-disvisiable{
	visibility: visible;
	transition: visibility 0s .4s;
}
/* ========== */

/* ========================table serise=================================== */
/* = table = */
.easyUtil-table{
	margin-bottom: 0px !important;
	display: table;
	text-align: center;
	border-spacing: 0;
	border-collapse: collapse;
}
.easyUtil-table > thead > tr{
	background-color:#003050;
}
.easyUtil-table > thead > tr > th{
	border-bottom: none !important;
	padding: 8px 4px !important;
	font-size: 1vw;
}
.easyUtil-table > tbody > tr > td{
 	border-top: none !important;
 	padding: 8px 4px !important;
 	font-size: 0.9vw;
}
.thead,.tbody{
	display: table !important;
	width: 100%;
	table-layout: fixed !important;
}
.tr{
	display: table-row;
}
.td,.th{
	display: table-cell !important;
}
.easyUtil-table > .thead >.tr {
	background-color:#003050;
}
.easyUtil-table > .thead >.tr >.th{
	border-bottom: none !important;
	padding: 8px 4px !important;
	font-size: 1vw;
	box-sizing: border-box;
}
.easyUtil-table > .tbody >.tr>.td{
 	border-top: none !important;
 	padding: 8px 4px !important;
 	font-size: 0.9vw;
 	box-sizing: border-box;
}

 /*counter*/
.easyUtil-startCounter{
	counter-reset: xuhao;
}
.easyUtil-counter{
	vertical-align: baseline;
	/*display: block;*/
}
.easyUtil-counter:before{
	content: counter(xuhao);
	counter-increment: xuhao;
	background-color: rgb(0, 106, 155);
	border-radius: 0.2vw;
	display: inline-block;
	margin: auto;
	min-width: 1.5em;
	min-height: 1.5em;
    padding: 0 3px;
	text-align: center;
	font-size: 0.8em;
	vertical-align: 0.2ex;
	box-sizing: border-box;
}.counter1:before{
	background-color: #d6505f;
}.counter2:before{
	background-color: orange;
}.counter3:before{
	background-color: #24FF00;
}.circle:before{
	border-radius: 50%;
	width: 1.4em;
	height: 1.4em;
}
.easyUtil-CounterHead:before{
	content: "序号";
	font-size: 1vw;
	font-weight: bolder;
/*	display: inline-block;
	margin: 7%;*/
	/*vertical-align: -0.45em;*/
}
 
/* = changeColor = */
.easyUtil-table tbody tr:nth-child(odd){
	background-color: #003050;
}
.easyUtil-table tbody tr:nth-child(even){
	background-color: rgba(255,255,255,0);
}
.easyUtil-table .tbody .tr:nth-child(odd){
	background-color: #003050;
}
.easyUtil-table .tbody .tr:nth-child(even){
	background-color: rgba(255,255,255,0);
}
/* = hoverColor = */
.easyUtil-table tbody tr:hover{
	background-color: rgba(0,82,153,0.9);
}
.easyUtil-table .tbody .tr:hover{
	background-color: rgba(0,82,153,0.9);
}
/* ====================================================================== */

/* ============================= specail CSS ============================= */
.easyUtil-moreLightBox{
    box-shadow: 0px 0px 10px #4dbeff;
}
.easyUtil-moreLightFont{
    color:yellow !important;
}
.easyUtil-toRight {
    float: right;
}
.easyUtil-toLeft {
    float: left;
}

.easyUtil-addLevel{
    position: relative;
    z-index: 2;
}

.easyUtil-hidden{
    display:none;
}
.easyUtil-switchDiv{
	background-image: url(../img/Loading6-3.gif);
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	background-size: 2em;
}
/*fontCSS*/
.easyUtil-fOrange{
    color: orange !important;  
}
.easyUtil-fBlue{
    color: #4dbeff !important;
}
.easyUtil-fDarkBlue{
    color: #0081ee !important;
}
.easyUtil-fLightBlue{
	color: rgba(0,219,255,1) !important;
}
.easyUtil-fGreen{
    color: #24FF00 !important;
}
.easyUtil-fYellow{
    color: #FFD800 !important;
}
.easyUtil-fRed{
    color: #d6505f !important;
}
.easyUtil-fBlack{
    color: #1a1a1a !important;
}
.easyUtil-font12{
    font-size: 12px !important;
}
.easyUtil-font13{
    font-size: 13px !important;
}
.easyUtil-font14{
    font-size: 14px; !important;
}
.easyUtil-font15{
    font-size: 15px !important;
}
.easyUtil-font16{
    font-size: 16px !important;
}
.easyUtil-font18{
    font-size: 18px !important;
}
.easyUtil-fontBolder{
    font-weight: bolder !important;
}
.easyUtil-fontNoraml{
    font-weight: normal !important;
}
.easyUtil-fontLight{
    font-weight: lighter !important;
}
.easyUtil-fontOverFlow{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/*cursor: pointer;*/
}
.easyUtil-fontOverFlow:hover{
	color: #4dbeff !important;
/*	overflow: visible;
	content: attr(content);
	white-space: normal;
	display: block;
	margin-top: -1em;
	background-color: rgba(0, 0, 0, 0.71);
    border: 1px solid #55a4ba; 
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(45,123,128,0.8);*/
}
.easyUtil-fontOverFlow *:hover{
	/*overflow: visible;*/
	color: #4dbeff !important;
}
.easyUtil-loading{
	text-align: center;
	margin: 5px auto;
}
.easyUtil-loading >img{
	width: 25px;
	height: 25px;
}

/*instead of nothing*/
.easyUtil-noContent{
	text-align: center;
    font-size: 15px;
    margin: 1em auto;
}
/*button*/
.easyUtil-btn{
	color: #4dbeff;
	border: 1px solid;
    font-size: 15px;
    padding: 0px 5px;
    top: 0px;
    min-height 30px;
    min-width: 110px;
    line-height: 2ex;
    margin-left: 15px;
    box-sizing: border-box;
    display: inline-block;
    white-space: pre;
    text-align: center;
}
.easyUtil-btn:hover{
	box-shadow: 0px 0px 10px;
}
/* ============================================================================== */

/* ================================== animations ================================== */
/*glitter*/
.easyUtil-glittering {
 position: relative;
 text-decoration: none;
 overflow: hidden;
 -webkit-transition: all 1s ease-in;
 transition: all 1s ease-in;
}

.easyUtil-glittering:hover {
 /*  background: rgba(0,0,0,0); */
}
.easyUtil-glittering:before {
 content: ' ';
 position: absolute;
 background: #fff;
 width: 25px;
 height: 50px;
 top: 0;
 left: -45px;
 opacity: 0.3;
 -webkit-transition: all 0.4s ease-out;
 transition: all 0.4s ease-out;
 -webkit-transform: skewX(-25deg);
         transform: skewX(-25deg);
}
.easyUtil-glittering:hover:before {
 width: 45px;
 left: 300px;
}

/*blink*/
.easyUtil-blinBlink{ 
    /*box-shadow: 0px 0px 30px rgba(91,239,248,1);
    border-radius:100px;*/
    -webkit-animation: twinkling 1s infinite ease-in-out 
    } 
.easyUtil-blinBlink2{ 
/*box-shadow: 0px 0px 30px rgba(91,239,248,1);
border-radius:100px;*/
-webkit-animation: twinkling 0.5s infinite ease-in-out 
} 
.easyUtil-blinBlink3{ 
/*box-shadow: 0px 0px 30px rgba(91,239,248,1);
border-radius:100px;*/
-webkit-animation: twinkling 0.1s infinite ease-in-out 
} 
.animated{ 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both 
    } 
@-webkit-keyframes twinkling{ 0%{ opacity: .1;} 100%{ opacity: 1;} } 
@keyframes twinkling{ 0%{ opacity: 0.1; } 100%{ opacity: 1;} }
.easyUtil-out{ 
    /*box-shadow: 0px 0px 30px rgba(91,239,248,1);
    border-radius:100px;*/
    -webkit-animation: out 1s ease-in-out 
    } 
@-webkit-keyframes out{ 0%{ border-radius: 50%;} 100%{ border-radius: 10%;} } 
@keyframes out{ 0%{ border-radius: 50%;} 100%{ border-radius: 10%;} }

/* =============================================================================== */

/* ========================== layer=========================== */
.layui-layer-setwin .layui-layer-close2 {
    position: absolute;
    right: -5px !important;
    top: -9px !important;
    width: 30px;
    height: 30px;
    margin-left: 0;
    background-position: -149px -31px;
    *right: -18px;
    _display: none;
}
.layui-layer {
	border: 2px solid rgb(167, 255, 255)!important;
	box-shadow: rgba(0, 125, 255, 0.5) 0px 0px 30px!important;
	background-color: rgba(0, 54, 102, 0.9)!important;
}.layui-layer-title{
    color:rgb(167, 255, 255) !important;
    border-bottom:2px solid rgb(167, 255, 255) !important;
    background-color:rgba(0,82,153,0.9) !important;
}.layui-layer-content{
    color:#fff !important;
    background-color:rgba(0,34,64,0.9) !important;
    border-left:1px solid #2d7b80 !important;
    border-right:1px solid #2d7b80 !important; 
    border-bottom:1px solid #2d7b80 !important;
}.layui-layer-shade{
    opacity:0.5 !important;
}.layui-layer-btn{
    background-color:rgba(21,82,119,0.8);
    border-left:1px solid #2d7b80 !important;
    border-right:1px solid #2d7b80 !important; 
    border-bottom:1px solid #2d7b80 !important;
}
.layui-layer-btn .layui-layer-btn0 {
    border-color: #4898d5 !important;
    background-color: #2e8ded !important;
    color: #fff;
 }
.layui-layer-btn a {
    height: 28px;
    line-height: 28px;
    margin: 6px 6px 0;
    padding: 0 15px;
    border: none !important;
    background-color: orange !important;
    color: #333;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}
/* ======================================================================== */

/* ====================== popover Tips =================================== */
.popover{
  position: absolute;
  top: 2;
  left: 0;  
  display: block;  
  /*max-width: 110px;*/
  /*padding: 1px;*/
  /*font-size: 12px;*/
  font-style: normal;
  color: yellow !important;
  font-weight: border;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
 /* background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000% 1000%;*/
 background-color: rgba(0, 0, 0, 0.9);
 /* -webkit-background-clip: padding-box;
          background-clip: padding-box;*/
  border: 1px solid #55a4ba; 
  border-radius: 0px;
  box-shadow: 0px 0px 10px rgba(45,123,128,0.8);
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
          box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
  text-indent:0px !important;
  /*  line-break: auto;*/
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
    text-align: -moz-left;
    padding: 4px 4px !important;
    margin: 2px 0px 0px 0px;
    font-size: 11px;
    font-weight: bolder;
    background-color: rgba(0,0,0,0) !important;
    border-bottom: 0px solid #45A6B5;
    border-radius: 0px;
}
.popover-content {
  padding:2px 5px !important;
  font-size: 11px;
  text-align: left;
  /*text-indent: 5px;*/
  color:white;
  width: 90px;
  word-wrap: break-word !important;  
  word-break: break-all !important; 
}
.arrow{
    display: none !important;;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  /* border-top-color: #05E4ED; */
  border-top-color: #55a4ba;
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #2C7A7F;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #55a4ba;
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #333439;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: #55a4ba;
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #333439;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: #55a4ba;
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #333439;
}

/* ========================================================================= */

/* ================================= select Form ================================ */
.dropdown {
  z-index: 2;
  position: relative;
}
.dropdown li{
	display: block !important;
}
.dropdown-toggle:focus {
  	outline: 0;
}
.easyUtil-blueForm{
    border: 1px solid #2d6d92;
    color: #4dbeff;
    font-size: 12px;
    padding:0px 5px;
    top: 0px;;
    height: 29px;
   	min-width: 110px;
    line-height: 4ex;
    margin-left: 15px;
    box-sizing: border-box;
    display: inline-block;
}
.easyUtil-blueForm:hover{
	box-shadow: 0px 0px 10px;
}
.downarray{
	border-left: 2px solid;
	border-bottom: 2px solid;
	transform: rotate(-45deg);
	height: 9px;
	width: 9px;
	cursor: pointer;
	margin-top: 0.25em;
	box-sizing: content-box;
	margin-right: 0.2em;
}
.downarray:before{
	content: " ";
	white-space: pre;
	display: inline-block;
	border-left: 2px solid;
	border-bottom: 2px solid;
	width: 9px;
	height: 9px;
	margin-left: 2px;
	margin-top: -4px;
	line-height: 2em;
	vertical-align: 15px;  /*ie middle,other ok*/
}
.dropdown-toggle{
	height: 100%;
	width: 100%;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 2;
    width: 100%;
    display: none;
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    background-color: rgba(0,34,64,0.9);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #55a4ba;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    overflow: auto;
    max-height: 110px;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFFFFF;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: rgba(0,82,153,0.9);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
/* =================================================================== */
/* = thinkSerach css = */
.ui-widget-content {
    border: 1px solid #2d6d92 !important;
    background: rgba(7, 43, 96, 0.5);
}
/* ========== */