/* ========== */
/* = basic dispaly css by qy = */
/* = unify and easy-using for css  = */
/* = continue updating  = */
/* = CopyRight by qy  = */
/* ========== */

/* ================ remove defaultCSS ======================== */
*:focus {
    outline: none;
}
a:hover,a:focus,a:active,a:visited,a:link{
    text-decoration: none;
}

/* ================================================================= */
/* = base CSS = */
[v-cloak]{
	display: none;
}
html,body{
	font-size: 1em;
	color: #000000;
	cursor: default;
}
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: 0px;
    font-family: tahoma !important;
}
table thead, tbody tr {
    display:table;
   /* width:100%;*/
    table-layout:fixed;
}
img{
	display: inline-block;
}
ul li{
    list-style: none; 
}
button{
    border: none;
    cursor: pointer;
    white-space: pre-wrap;
    min-height: 30px;
}
iframe{
	border: none;
	width: 100%;
}
input{
	border: none;
	width: 25vw;
	min-height: 30px;
}
input[type=color]{
    border: 0;
    padding: 0;
    background-color: rgba(255,255,255,0);
    float: right;
}
h3{
	font-size: 1.125em;
	margin: 0.1em 0px 0.4em 0.4em;
}
input,img,textarea{
	box-sizing: border-box;
}
/*input range*/  
input[type=range] {  
  -webkit-appearance: none;/
  background: -webkit-linear-gradient(#61bd12, #61bd12) no-repeat, #ddd;
  background-size: 100% 100%;
  height: 3px; 
}  
input[type=range]::-webkit-slider-thumb {  
  -webkit-appearance: none;  
  background: #05E4ED;
  border-radius: 50%;  
  border: solid 1px #05E4ED; 
} 
a{
    cursor: pointer !important;
    color: inherit;
    display: inline-block;
}
/*for webkit Chrome scroll style*/
/*::-webkit-scrollbar{
	width: 2px;
	height: 2px;
}
::-webkit-scrollbar-thumb{
	background-color: #016380;
	border-radius: 2px;
}
::-webkit-scrollbar-track{
	background-color: #003d67;
	border-radius: 2px;
}*/
/* =================================================== */
/* ======================= fixed body and perfect fits ====================== */
.easyUtil-fixedBody{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	margin: auto;
}
/* ====================================================== */
/* ================= flex Box ======================== */
.easyUtil-flexContainerRow{
	display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.easyUtil-flexContainerColumn{
	display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
}

/* =========================== imgThing ================================= */
.easyUtil-backImgPostion{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
/* ====================================== */
/* ========================table serise=================================== */
/* = table = */
.easyUtil-table{
	margin-bottom: 0px !important;
	display: table;
	text-align: center;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	/*border: 1px #3d7295 solid;*/
}
.easyUtil-table > thead > tr{
	background-color:rgba(0,116,164,0.8);
}
.easyUtil-table > thead > tr > th{
	border-bottom: none !important;
	padding: 1.33vh 4px !important;
	font-size: 1em;
}
.easyUtil-table > tbody > tr > td{
	border-top: none !important;
 	padding: 0.75vh 4px !important;
 	font-size: 0.875em;
 	box-sizing: border-box;
}
.thead,.tbody{
	display: table !important;
	table-layout: fixed !important;
}
.tr{
	display: table-row;
}
.td,.th{
	display: table-cell !important;
}
.easyUtil-table > .thead >.tr {
	background-color:rgba(0,116,164,0.8);
}
.easyUtil-table > .thead >.tr >.th{
	border-bottom: none !important;
	padding: 1.33vh 4px !important;
	font-size: 1em;
	box-sizing: border-box;
	white-space: pre-line;
}
.easyUtil-table > .tbody >.tr>.td{
 	border-top: none !important;
 	padding: 0.5vh 4px !important;
 	font-size: 0.875em;
 	box-sizing: border-box;
 	white-space: pre;
}
/* = changeColor = */
.easyUtil-table tbody tr:nth-child(even){
	background-color:transparent;
}
.easyUtil-table tbody tr:nth-child(odd){
	background-color: transparent;
}
.easyUtil-table .tbody .tr:nth-child(even){
	background-color:transparent;
}
.easyUtil-table .tbody .tr:nth-child(odd){
	background-color: transparent;
}
/* = hoverColor = */
.easyUtil-table tbody tr:hover{
	background-color: transparent !important;
}
.easyUtil-table .tbody .tr:hover{
	background-color: transparent !important;
}
/* ====================================================================== */
/* ==================================  counter ================================ */
.easyUtil-startCounter{
	counter-reset: xuhao;
}
.easyUtil-counter{
	vertical-align: baseline;
	/*display: block;*/
}
.easyUtil-counter:before{
	content: counter(xuhao);
	counter-increment: xuhao;
	background-color: rgb(0, 106, 155);
	border-radius: 0.2vw;
	display: inline-block;
	margin: auto;
	min-width: 1.5em;
	min-height: 1.5em;
    padding: 0 3px;
	text-align: center;
	font-size: 0.875em;
	vertical-align: 0.2ex;
	box-sizing: border-box;
}.counter1:before{
	background-color: #d6505f;
}.counter2:before{
	background-color: orange;
}.counter3:before{
	background-color: #24FF00;
}.circle:before{
	border-radius: 50%;
	width: 1.4em;
	height: 1.4em;
}
.easyUtil-CounterHead:before{
	content: "序号";
	font-size: 1em;
	font-weight: bolder;
/*	display: inline-block;
	margin: 7%;*/
	/*vertical-align: -0.45em;*/
}
/* ===================================================================== */
/* ============================= specail CSS ============================= */
.easyUtil-colorLine{
	color: #86FAFF;
    background-image: -webkit-linear-gradient(white,rgba(134, 250, 255, 1.0), #025885);
	background-image: -moz-linear-gradient(white, rgba(134, 250, 255, 1.0), #025885) ;
	background-image: linear-gradient(white,rgba(134, 250, 255, 1.0), #025885) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.easyUtil-moreLightBox{
    box-shadow: 0px 0px 10px #4dbeff;
}
.easyUtil-moreLightFont{
    color:yellow !important;
}
.easyUtil-toRight {
    float: right;
}
.easyUtil-toLeft {
    float: left;
}

.easyUtil-addLevel{
    position: relative;
    z-index: 2;
}

.easyUtil-hidden{
    display:none;
}
.easyUtil-switchDiv{
	background-image: url(../images/Loading6-3.gif);
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	background-size: 2em;
}
/*fontCSS*/
.easyUtil-fOrange{
    color: #ffba00 !important;  
}
.easyUtil-fBlue{
    color: #00d2ff !important;
}
.easyUtil-fDarkBlue{
    color: #3fa1ff !important;
}
.easyUtil-fLightBlue{
	color: #3ecbcb !important;
}
.easyUtil-fGreen{
    color: #50cb74 !important;
}
.easyUtil-fYellow{
    color: #fbd444 !important;
}
.easyUtil-fPinkRed{
    color: #9760e5 !important;
}
.easyUtil-fRed{
    color: #f2637b !important;
}
.easyUtil-fBlack{
    color: #1a1a1a !important;
}
.easyUtil-font12{
    font-size: 12px !important;
}
.easyUtil-font13{
    font-size: 13px !important;
}
.easyUtil-font14{
    font-size: 14px; !important;
}
.easyUtil-font15{
    font-size: 15px !important;
}
.easyUtil-font16{
    font-size: 16px !important;
}
.easyUtil-font18{
    font-size: 18px !important;
}
.easyUtil-fontBolder{
    font-weight: bolder !important;
}
.easyUtil-fontNoraml{
    font-weight: normal !important;
}
.easyUtil-fontLight{
    font-weight: lighter !important;
}
.easyUtil-fontOverFlow{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/*cursor: pointer;*/
}
.easyUtil-fontOverFlow:hover{
	/*color: #4dbeff !important;*/
/*	overflow: visible;
	content: attr(content);
	white-space: normal;
	display: block;
	margin-top: -1em;
	background-color: rgba(0, 0, 0, 0.71);
    border: 1px solid #55a4ba; 
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(45,123,128,0.8);*/
}
.easyUtil-loading{
	text-align: center;
	margin: 30vh auto;
}
.easyUtil-loading >img{
	width: 5vh;
}

/*instead of nothing*/
.easyUtil-noContent{
	text-align: center;
    font-size: 0.875em;
    margin: 1em auto;
    font-weight: 700;
}
/*button*/
.easyUtil-btn{
	border: 1px solid;
    top: 0px;
    min-width: 110px;
    margin-left: 1vw;
    box-sizing: border-box;
    display: inline-block;
    white-space: pre-wrap;
    text-align: center;
    cursor: pointer;
}
.easyUtil-btn:hover{
	box-shadow: 0px 0px 2px;
}
.easyUtil-input {
    border: 1px solid;
    padding: 0px 5px;
    top: 0px;
    min-width: 110px;
    margin-left: 15px;
    box-sizing: border-box;
    display: inline-block;
}
.easyUtil-input:hover {
    box-shadow: 0px 0px 2px;
}
.easyUtil-blueForm {
    border: 1px solid;
    color: #fff;
    font-size: 0.75em;
    padding: 0px 5px;
    top: 0px;
    height: 29px;
    min-width: 110px;
    line-height: 4ex;
    margin-left: 15px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
}
.easyUtil-blueForm:hover {
    box-shadow: 0px 0px 10px rgba(0,129,195,1);
}
/* ============================================================================== */
/* = thinkSerach css = */
.ui-widget-content {
    border: 1px solid #2d6d92 !important;
    background: rgba(7, 43, 96, 0.5);
}
/* ========== */

/* = loading animation = */
.easyUtil-animation-move {
	position: relative;
	animation: move 1s infinite ease-out;
	-webkit-animation:move 1s infinite ease-out;
}

.easyUtil-animation-line {
	border-bottom: 5px dotted;
	/*position: absolute;*/
	display: inline-block;
	animation: line 1s infinite ease-out;
	-webkit-animation:line 1s infinite ease-out;
}

@keyframes move {0% {left: 0px;}100% {left: 50px;}}
@-moz-keyframes move{0% {left: 0px;}100% {left: 50px;}}
@-ms-keyframes  move {0% {left: 0px;}100% {left: 50px;}}
@-webkit-keyframes  move {0% {left: 0px;}100% {left: 50px;}}

@keyframes line {0% {width: 0px;}100% {width: 50px;}}
@-moz-keyframes line{0% {width: 0px;}100% {width: 50px;}}
@-ms-keyframes  line {0% {width: 0px;}100% {width: 50px;}}
@-webkit-keyframes  line {0% {width: 0px;}100% {width: 50px;}}
/* ========== */