/* ========== */
/* = easyUtil animation part by qy = */
/* = unify and easy-using for css  = */
/* = continue updating  = */
/* = CopyRight by qy  = */
/* ========== */
/* ================================== animations ================================== */
/*glitter*/
.easyUtil-glittering {
 position: relative;
 text-decoration: none;
 overflow: hidden;
 -webkit-transition: all 1s ease-in;
 transition: all 1s ease-in;
}

.easyUtil-glittering:hover {
 /*  background: rgba(0,0,0,0); */
}
.easyUtil-glittering:before {
 content: ' ';
 position: absolute;
 background: #fff;
 width: 25px;
 height: 50px;
 top: 0;
 left: -45px;
 opacity: 0.3;
 -webkit-transition: all 0.4s ease-out;
 transition: all 0.4s ease-out;
 -webkit-transform: skewX(-25deg);
         transform: skewX(-25deg);
}
.easyUtil-glittering:hover:before {
 width: 45px;
 left: 300px;
}

/*blink*/
.easyUtil-blinBlink{ 
    /*box-shadow: 0px 0px 30px rgba(91,239,248,1);
    border-radius:100px;*/
    -webkit-animation: twinkling 1s infinite ease-in-out 
    } 
.easyUtil-blinBlink2{ 
/*box-shadow: 0px 0px 30px rgba(91,239,248,1);
border-radius:100px;*/
-webkit-animation: twinkling 0.5s infinite ease-in-out 
} 
.easyUtil-blinBlink3{ 
/*box-shadow: 0px 0px 30px rgba(91,239,248,1);
border-radius:100px;*/
-webkit-animation: twinkling 0.1s infinite ease-in-out 
} 
.animated{ 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both 
    } 
@-webkit-keyframes twinkling{ 0%{ opacity: .1;} 100%{ opacity: 1;} } 
@keyframes twinkling{ 0%{ opacity: 0.1; } 100%{ opacity: 1;} }
.easyUtil-out{ 
    /*box-shadow: 0px 0px 30px rgba(91,239,248,1);
    border-radius:100px;*/
    -webkit-animation: out 1s ease-in-out 
    } 
@-webkit-keyframes out{ 0%{ border-radius: 50%;} 100%{ border-radius: 10%;} } 
@keyframes out{ 0%{ border-radius: 50%;} 100%{ border-radius: 10%;} }
/*=====roll====*/
.easyUtil-roll{
    -webkit-animation: 105s rollup linear infinite normal;
    animation: 105s rollup linear infinite normal;
}
@keyframes rollup {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -1500px, 0);
        transform: translate3d(0, -1500px, 0);
        display: none;
    }
}

/* =====roll page===== */
.drop-right{
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-animation: roll-right .5s infinite ease-in-out ;
	-moz-animation: roll-right .5s infinite ease-in-out ;
	-o-animation: roll-right .5s infinite ease-in-out ;
	animation: roll-right .5s infinite ease-in-out ;
}
.drop-left{
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-animation: roll-left .5s infinite ease-in-out ;
	-moz-animation: roll-left .5s infinite ease-in-out ;
	-o-animation: roll-left .5s infinite ease-in-out ;
	animation: roll-left .5s infinite ease-in-out ;
}
.drop-center{
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-animation: roll-center .5s infinite ease-in-out ;
	-moz-animation: roll-center .5s infinite ease-in-out ;
	-o-animation: roll-center .5s infinite ease-in-out ;
	animation: roll-center .5s infinite ease-in-out ;
}

@keyframes roll-right{
	from{
		opacity: 1;
		-webkit-transform:rotateY(0deg) ;
		-moz-transform:rotateY(0deg) ;
		-ms-transform:rotateY(0deg) ;
		-o-transform:rotateY(0deg) ;
		transform:rotateY(0deg) ;
		}
	to{
		opacity: 0;
		-webkit-transform:rotateY(-90deg) ;
		-moz-transform:rotateY(-90deg) ;
		-ms-transform:rotateY(-90deg) ;
		-o-transform:rotateY(-90deg) ;
		transform:rotateY(-90deg) ;
		}
}
@keyframes roll-left{
	from{
		opacity: 1;
		-webkit-transform:rotateY(-90deg) ;
		-moz-transform:rotateY(-90deg) ;
		-ms-transform:rotateY(-90deg) ;
		-o-transform:rotateY(-90deg) ;
		transform:rotateY(-90deg) ;
		}
	to{
		opacity: 0;
		-webkit-transform:rotateY(0deg) ;
		-moz-transform:rotateY(0deg) ;
		-ms-transform:rotateY(0deg) ;
		-o-transform:rotateY(0deg) ;
		transform:rotateY(0deg) ;
		}
}
@keyframes roll-center{
	from{
		opacity: 1;
		-webkit-transform:rotateX(0deg) ;
		-moz-transform:rotateX(0deg) ;
		-ms-transform:rotateX(0deg) ;
		-o-transform:rotateX(0deg) ;
		transform:rotateX(0deg) ;
		}
	to{
		opacity: 0;
		-webkit-transform:rotateX(-90deg) ;
		-moz-transform:rotateX(-90deg) ;
		-ms-transform:rotateX(-90deg) ;
		-o-transform:rotateX(-90deg) ;
		transform:rotateX(-90deg) ;
		}
}
/* ========== */

/* =============================================================================== */

